body{
    font-family: 'Luxurious Roman', cursive;
    margin: 30px;
}
.mission-2022{
    color: orange;
}
.stay-focus-line{
    border-left: 4px solid;
    border-color: orangered;
    padding-left: 5px;
    margin-left: 5%;    
}
h1{
    font-size: 65px;
}
.focus-section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 3%;
    text-align: left;
    margin-top: 5%;
}
.focus-section img{
    width: 65%;
}
p{
    margin-left: 5%;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5%;
}
.mission-section{
    text-align: center;   
}
.mission-flexible{
    display: flex;
}
.middle-section-boxes{
    height: 30%;
    width: 90%;
    color: black;
    padding: 10px;
    margin-left: 3%;
    margin-right: 5%;
    border-radius: 10px;
}
.middle-section-boxes img{
    width: 40%;
}
#mission-box{
    background-color: darkseagreen;
}
.hashte-hobe-section{
    display: flex;
}
.hashte-hobe-section img{
    width: 70%;
}
h2{
    font-size: 40px;
}
#no-margin{
    margin-left: 0px;
}